<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p>

	<iframe height="215" width="215" src="http://52.10.145.249/jPlayer/examples/other/demo-05.html">
	  <p>Your browser does not support iframes.</p>
	</iframe>

<div class="list card">
      <div class="item item-divider">{{chat.name}}</div>
      <div class="item item-body">
        <div>
William Mulholland

Mary:- I would love to go to Los Angeles some day, have you ever been there?
Brandon: - I went on vacation there a few years ago. I liked it, but it was so hard to see everything. The city is so vast and there are so many people. 
Mary: - How many people live in Los Angeles?
Brandon:- Nearly 4,000,000 people.
Mary: - Wow, 4,000,000 in one city! It wasn't always like that though. Have you ever heard about a man called William Mulholland?
Brandon: - No, I don't think so. But there’s a famous road in LA called Mulholland Drive, and about 15 years ago, David Lynch made a film of the same. Was the road named after William Mulholland?
Mary: - It is indeed. He was an Irish man who grew up in Dublin. When he emigrated to Los Angeles in the 1870s, the city had a population of about 9,000. 
Brandon: - Only 9,000? It’s a very different place now!
Mary: - Exactly. Mulholland had a vision that Los Angeles would become much bigger. However, the city’s water supply was limited by the dry climate, and that hindered its growth. He shared this idea with the mayor of Los Angeles and as a result, the Los Angeles Aqueduct was built to transport water from the Sierra Nevada mountain range to the growing city.
Brandon: - But the Sierra Nevada is hundreds of miles from Los Angeles! 
Mary: - It is 223 miles away to be exact - the length of the aqueduct. The engineering project was massive, but a success. By 1926, Los Angeles had become the largest city in the United States by area. The sudden availability of water in the Los Angeles area also led to farming of irrigated crops.  As a result, Mulholland became very famous and wealthy. He was given an honorary doctorate degree by the University of Berkeley, in which the translated Latin read: He broke the rocks and brought the river to thirsty land. At one point, he was the favourite to become mayor.
Brandon:- He sounds like an all round Irish American hero! 
Mary:- There are two sides to every story, Brandon. When the water was rerouted from the Sierra Nevada, the water supply was taken away from the farmers in that area. As a consequence, they rebelled and Mulholland was forced to negotiate with them. 
Brandon:- That puts a different perspective on things. 
Mary: - Also, his career didn't end so well. Twelve hours after doing a safety inspection on one dam on the Los Angeles aqueduct, the dam collapsed. Over 400 people were killed and many towns were flooded. Mulholland took full responsibility for what was called the worst engineering disaster of the 20th century and resigned at the end of 1929. 
Brandon- How awful! What a devastating ending to such a worthy career!
Mary:- I agree, it is sad. He was a controversial figure.  However, we must remember in the 1880's 9,000 people were living in the area and now four hundred times that amount live there today. This is largely thanks to William Mulholland providing the water supply that has allowed the city to have such dramatic growth.   

  



        </div>
      </div>
</div>
    
  </ion-content>
</ion-view>
