<ion-view view-title="What's new">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Welcome to our App! (2015-12-05)</div>
      <div class="item item-body">
        <div>
          <b>Hey!</b> thanks for trying our app you are more than welcome
		we're just getting started so check back for update soon
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Our first Bio</div>
      <div class="item item-body">
        <div>
          Our first biography is on William Mulholland a controversial figure 
		who made a name for himself in the early formation of Los Angeles
		. Saint or sinner? you be the judge.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming Bios</div>
      <div class="item item-body">
        <div>
          If you have any suggestions for a biography 
	 let us know at maryk15@gmail.com
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
